@CHARSET "ISO-8859-1";

.barranav {
	text-align: center;
	color: red;
}

/* enlaces de la barra*/
.sf-menu a {
	display: block;
	font-family: avantgarde_bk_btbook;
	font-size: 15px;
	text-transform: uppercase;
	/*margin-right: 5px;
padding-top: 5px;
padding-right: 5px;
padding-bottom: 5px;
border-right-width: 2px;*/
	/*border-right-style: dotted;*/
	border-right-color: #E4E4E4;
	color: #ffffff;
	text-decoration: none;
}

.mail {
	height:50px;
	background-image: url(../img/email.png);
	background-repeat:no-repeat;
}


.mail p {
	font-size: 18px;
	line-height: 33px;
	font-weight: bold;
	color: white;
	/* color: #cc3300; */
	padding: 5px 0px 0px 60px;
	background-position: -25px -127px;
}

.activo{
	color:#FFCC47 !important;
}

.tel {
	height:50px;
	background-image: url(../img/telefono.png);
	background-repeat:no-repeat;
}


.tel p {
	font-size: 18px;
	line-height: 33px;
	font-weight: bold;
	color: white;
	/* color: #cc3300; */
	padding: 5px 0px 0px 60px;
	background-position: -25px -127px;
}

#marquesina {
	/*background-color:#ffcc33;*/
	margin-top: 24px;

	/*opacity:0.4;
filter:alpha(opacity=10);*/
}

/*color de fondo de la barra*/
.fondo div {
	/*background-color: #dd4814;*/
	background-color: #ffffff;
}

div.mapas {
	background-color: #ffffff;
	border-style: solid;
	border-color: #000000;
	border-width: 1px;
}

div.textocapitulo {
	text-align: right;
}

div.imgcapitulo {
	margin: 4px;
	border: 1px solid #000000;
	height: auto;
	width: auto;
	float: left;
	text-align: center;
	margin-top: 40px;
}

.datos_oficina {
	font-size: 13px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 30px;
	padding-left: 10px;
}

.nav-header {
	display: block;
	padding: 3px 15px;
	font-size: 11px;
	font-weight: bold;
	line-height: 20px;
	color: #000000;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
}

.btn-custom {
	background-color: hsl(201, 100%, 30%) !important;
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00a5ff",
		endColorstr="#006399");
	background-image: -khtml-gradient(linear, left top, left bottom, from(#00a5ff),
		to(#006399));
	background-image: -moz-linear-gradient(top, #00a5ff, #006399);
	background-image: -ms-linear-gradient(top, #00a5ff, #006399);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00a5ff),
		color-stop(100%, #006399));
	background-image: -webkit-linear-gradient(top, #00a5ff, #006399);
	background-image: -o-linear-gradient(top, #00a5ff, #006399);
	background-image: linear-gradient(#00a5ff, #006399);
	border-color: #006399 #006399 hsl(201, 100%, 25%);
	color: #fff !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
	-webkit-font-smoothing: antialiased;
}

#custom-search-form {
	margin: 0;
	margin-top: 5px;
	padding: 0;
}

#custom-search-form .search-query {
	padding-right: 3px;
	padding-right: 4px \9;
	padding-left: 3px;
	padding-left: 4px \9;
	/* IE7-8 doesn't have border-radius, so don't indent the padding */
	margin-bottom: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#custom-search-form button {
	border: 0;
	background: none;
	/** belows styles are working good */
	padding: 2px 5px;
	margin-top: 2px;
	position: relative;
	left: -28px;
	/* IE7-8 doesn't have border-radius, so don't indent the padding */
	margin-bottom: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.search-query:focus+button {
	z-index: 3;
}

.navbar-collapse {
	border: 1px solid #DDD;
	/*background-color: #dd4814;*/
}

.alturamenu {

	margin-top: -18px;
	padding: 0px;
}

.alturamenu1 {
	height:50px;

	padding: 0px;
}

.navbar-inner {
	background-color: #ffffff;
	background-image: none;

}

.fondoblanco {
	background-color: #fffff;
}

.container {
	background-color: #ffffff;
}

footer{
	background-color: #dd4814;
	color:#ffffff;
}


.contact-info .social-links {
	margin-top: 20px;
}

/* Social Links */

.social-links ul {
	overflow: hidden;
	margin-right: -6px;
}

.social-links li {
	float: left;
	margin: 0 6px 6px 0;
	list-style:none;
}

.social-links a {
	display: block;
	width: 24px;
	height: 24px;
	background-position: left top;
	background-repeat: no-repeat;
	text-indent: -10000em;
}

.social-links li.twitter a {
	background-image: url(../img/twitter-circular.png);
}

.social-links li.facebook a {
	background-image: url(../img/facebook-circular.png);
}

.social-links li.google a {
	background-image: url(../img/google-circular.png);
}

.social-links li.youtube a {
	background-image: url(../img/youtube-circular.png);
}

.social-links li.skype a {
	background-image: url(../img/skype-circular.png);
}

.social-links li.rss a {
	background-image: url(../img/rss-circular.png);
}

.social-links li.linkedin a {
	background-image: url(../img/linkedin-circular.png);
}

.social-links li.vimeo a {
	background-image: url(../img/vimeo-circular.png);
}

.iconocontacto{
	width: 35px;
	height: 35px;
	}

.cajabuscador{
	background-color: #FFE8CF;
	background-image: url(../img/uno.png);
	background-repeat:no-repeat;
	background-position:75% 25%;
	/*background-padding: 5px 0px 0px 60px;*/
}

.cajabuscador2{
	background-color: #FFE8CF;
	background-repeat:no-repeat;
	background-position:75% 25%;
	/*background-padding: 5px 0px 0px 60px;*/
}


.cajabuscador legend{
	color: #DD4814;
	font-weight: bold;
	font-size: 20px;
	text-align:center;
}

.cajabuscador2 legend{
	color: #DD4814;
	font-weight: bold;
	font-size: 20px;
	text-align:center;
}

#logo{


}

#overbox3 {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 999999;
    display: block;
}
#infobox3 {
    margin: auto;
    position: relative;
    top: 0px;
    /*height: 58px;*/
    width: 100%;
    text-align:center;
    background-color: #eeeeee;
		color: #dd8414;
}

#infobox3 p {
    /*line-height:58px;*/
    font-size:15px;
    text-align:center;
}
#infobox3 p a {
    margin-right:5px;
    text-decoration: underline;
}
