<div itemscope itemtype="http://schema.org/SoftwareApplication">
  <span itemprop="name">Defensa del conductor</span> -

  <div itemprop="description">
  ¿Puede la Administración notificar las multas a través de los boletines oficiales?
Sí, si tu residencia actual no consta en tráfico y tu nif y matricula son publicados en Internet (Boletines provinciales y testra), puedes ser sancionado sin derecho a reclamar ni poder pagar de forma reducida.
Con esta app, podrás descubrir si tienes multas pendientes que no te han sido notificadas. Accede a los boletines oficiales de tu provincia y al Testra.
Además contaras con un equipo de profesionales, abogados especializados en transporte de tu provincia, que te asesoraran para que puedas librarte de cualquier multa. ¿Como?, simplemente con esta app podrás hacer una foto a tu multa y enviárnosla para que te asesoremos sin NINGÚN COMPROMISO.
Si tienes una multa y vives en Asturias, Galicia, Cantabría o León, nosotros te podemos ayudar.
  </div>

  <div>
    <strong>Requires Android:</strong>
    <span itemprop="operatingSystem">Android 2.1 and up</span>
  </div>

  RATING:
  <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
    <span itemprop="ratingValue">4.9</span>(
    <span itemprop="ratingCount">10</span>)
    <meta itemprop="reviewCount" content="3317" />
  </div>

  <a href="https://play.google.com/store/apps/details?id=com.zerouno.ahorramultas&hl=es" 
     itemprop="downloadUrl">Download Link</a>

  <div>
    <strong>Category:</strong>
    <span itemprop="applicationCategory">TRANSPORTATION</span> &amp; <span itemprop="applicationCategory">Local</span>
  </div>
  
  <div>
    <strong>Countries Supported:</strong>
    <span itemprop="countriesSupported">Spain</span>
  </div>   

  
</div>