@CHARSET "ISO-8859-1";
.barranav
{
text-align:center;
color:red;
}

.sf-menu a {
display: block;
font-family: avantgarde_bk_btbook;
font-size: 15px;
text-transform: uppercase;
margin-right: 5px;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
border-right-width: 2px;
border-right-style: dotted;
border-right-color: #E4E4E4;
color: #666666;
text-decoration: none;

}


.fondo div{
	background-color: #FFFFFF;
}

div.mapas {
    
     background-color: #ffffff;
     border-style: solid;
     border-color: #000000;
     border-width: 1px;
}

div.textocapitulo{
	text-align:right;
}

div.imgcapitulo{
	  margin:4px;
  border:3px solid #333333;
  height:auto;
  width:auto;
  float:left;
  text-align:center;
}

.datos_oficina {
font-size: 13px;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 30px;
padding-left: 10px;
}

.nav-header {
display: block;
padding: 3px 15px;
font-size: 11px;
font-weight: bold;
line-height: 20px;
color: #999999;
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
text-transform: uppercase;
}

.btn-custom {
  background-color: hsl(201, 100%, 30%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00a5ff", endColorstr="#006399");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#00a5ff), to(#006399));
  background-image: -moz-linear-gradient(top, #00a5ff, #006399);
  background-image: -ms-linear-gradient(top, #00a5ff, #006399);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00a5ff), color-stop(100%, #006399));
  background-image: -webkit-linear-gradient(top, #00a5ff, #006399);
  background-image: -o-linear-gradient(top, #00a5ff, #006399);
  background-image: linear-gradient(#00a5ff, #006399);
  border-color: #006399 #006399 hsl(201, 100%, 25%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
  -webkit-font-smoothing: antialiased;
}


 #custom-search-form {
        margin:0;
        margin-top: 5px;
        padding: 0;
    }
 
    #custom-search-form .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    #custom-search-form button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    .search-query:focus + button {
        z-index: 3;   
    }